/* Position
static == default 
relative == элемент позиционируется относительно его позиции по умолчанию 
fixed == элемент позиционируется относительно окна бразуера, это позволяет создать фиксированные элементы, которые не меняют положения при прокрутке
absolute == элемент позиционируется относительно границ элемента-контейнера, если у того свойство position не равно static
sticky == элемент позиционируется относительно границ элемента-контейнера, если у того свойство position не равно static
*/

/* Float
float: left;
float: right;
float: none;
float: inherit;
*/


/* Clear
Свойство clear указывает, какие стороны блока/блоков элемента не должны прилегать к плавающим блокам, находящемся выше в исходном документе. В CSS2 и CSS 2.1 свойство применяется только к неплавающим элементам уровня блока.
clear: none;
clear: left;
clear: right;
clear: both;
clear: inherit;
*/


/* Z-index
позволяет изменить порядок наложения позиционированных элементов в случае, когда они накладываются друг на друга.
Блоки с более высокими уровнями всегда отображаются перед блоками с более низкими уровнями, а блоки с одинаковым уровнем располагаются снизу вверх в соответствии с порядком следования элементов в исходном документе.
*/


